<!DOCTYPE html>
{% extends 'LoginApp/base.html' %}
{%load staticfiles%}

{% block body %}
<div class="jumbotron" align="center">
    <h1>Signup To AlgoScale</h1>
    <br>
    <br>
    <form method="post">
        {% for field in form %}
        {{ field.errors }}
        {% if field.label == "Password" %}
        {{ field.label_tag }} <input type="password" name="password" maxlength="128" required="" id="id_password">
        {% else %}
        {{ field.label_tag }} {{ field }}
        {% endif %}
        <br><br>
      {% endfor %}
      {%csrf_token%}
      <input type="submit" class="btn btn-success" name="signupbutton" value="SIGN-UP" >
      </form>

</div>
{% endblock %}
